  <!-- styles -->
  <style>
  </style>
  <!-- <template> -->
  <!-- insert body content -->
    <div class="container-fluid">
      <!-- my content -->
      <h1>{{title}}</h1>
      <p>APP_NAME : {{appName}}</p>
      <p>ID : {{myuuid}}</p>
      
      <!-- my content -->
    </div>
  <!-- </template> -->
  <!-- scripts -->
  <script>
    // Script content!
  </script>
